{% extends 'site_index.html' %}

{% block content %}
<h5 class="mt-2">TODAY</h5>
<div class="calendar d-flex bd-highlight justify-content-between">
    {% for battle_event in battle_events_today %}
    <div class="day p-2 bd-highlight-{{ battle_event.type }}">
        <p>[{{ battle_event.type }}] - {{ battle_event.territory.takeover_time }}</p>
        <p></p>
        <h5 class="mt-2"><strong>{{ battle_event.territory }}</strong></h5>
        <h6 class="mt-1"><strong>{{ battle_event.alliance }}</strong></h6>
        {% if battle_event.notes %}
        <div class="day p-2 bd-highlight">
            <p class="bd-text-purple-bright">{{ battle_event.notes }}</p>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
<hr class="mt-0 mb-4">
<h5 class="mt-2">TOMORROW</h5>
<div class="d-flex bd-highlight justify-content-between">
    {% for battle_event in battle_events_tomorrow %}
    <div class="day p-2 bd-highlight-{{ battle_event.type }}">
        <p>[{{ battle_event.type }}] - {{ battle_event.territory.takeover_time }}</p>
        <p></p>
        <h5 class="mt-2"><strong>{{ battle_event.territory }}</strong></h5>
        <h6 class="mt-1"><strong>{{ battle_event.alliance }}</strong></h6>
        {% if battle_event.notes %}
        <div class="day p-2 bd-highlight">
            <p class="bd-text-purple-bright">{{ battle_event.notes }}</p>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
<hr class="mt-0 mb-4">
<h5 class="mt-2">DAY AFTER TOMORROW</h5>
<div class="d-flex bd-highlight justify-content-between">
    {% for battle_event in battle_events_day_after %}
    <div class="day p-2 bd-highlight-{{ battle_event.type }}">
        <p>[{{ battle_event.type }}] - {{ battle_event.territory.takeover_time }}</p>
        <p></p>
        <h5 class="mt-2"><strong>{{ battle_event.territory }}</strong></h5>
        <h6 class="mt-1"><strong>{{ battle_event.alliance }}</strong></h6>
        {% if battle_event.notes %}
        <div class="day p-2 bd-highlight">
            <p class="bd-text-purple-bright">{{ battle_event.notes }}</p>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}