{% extends 'site_index.html' %}

{% block content %}
<h4 class="mt-2 day" style="text-align: left;font-size: 16px;">TODAY</h4>
<div class="calendar d-flex flex-row flex-nowrap bd-highlight justify-content-between">
    {% for battle_event in battle_events_today %}
    {% if not battle_event.alliance or battle_event.alliance == "No alliance set." %}
    <div class="card card-body day p-2 bd-highlight">
    {% else %}
    <div class="card card-body day p-2 bd-highlight-{{ battle_event.type }}">
    {% endif %}
        <span style="font-size: 16px;">{{ battle_event.territory.takeover_time }}</span>
        <h2 class="mt-2"><strong>{{ battle_event.territory }}</strong></h2>
        <h5 class="mt-1"><strong>{{ battle_event.alliance }}</strong></h5>
        [{{ battle_event.type }}]
        {% if battle_event.notes %}
        <div class="day p-2 bd-highlight">
            <p class="bd-text-purple-bright">{{ battle_event.notes }}</p>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

<hr class="mt-0 mb-4">

<h4 class="mt-2 day" style="text-align: left;font-size: 16px;">TOMORROW</h4>
<div class="calendar d-flex flex-row flex-nowrap bd-highlight justify-content-between">
    {% for battle_event in battle_events_tomorrow %}
    {% if not battle_event.alliance or battle_event.alliance == "No alliance set." %}
    <div class="card card-body day p-2 bd-highlight">
    {% else %}
    <div class="card card-body day p-2 bd-highlight-{{ battle_event.type }}">
    {% endif %}
        <span style="font-size: 16px;">{{ battle_event.territory.takeover_time }}</span>
        <h2 class="mt-2"><strong>{{ battle_event.territory }}</strong></h2>
        <h5 class="mt-1"><strong>{{ battle_event.alliance }}</strong></h5>
        [{{ battle_event.type }}]
        {% if battle_event.notes %}
        <div class="day p-2 bd-highlight">
            <p class="bd-text-purple-bright">{{ battle_event.notes }}</p>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

<hr class="mt-0 mb-4">

<h4 class="mt-2 day" style="text-align: left;font-size: 16px;">DAY AFTER TOMORROW</h4>
<div class="calendar d-flex flex-row flex-nowrap bd-highlight justify-content-between">
    {% for battle_event in battle_events_day_after %}
    {% if not battle_event.alliance or battle_event.alliance == "No alliance set." %}
    <div class="card card-body day p-2 bd-highlight">
    {% else %}
    <div class="card card-body day p-2 bd-highlight-{{ battle_event.type }}">
    {% endif %}
        <span style="font-size: 16px;">{{ battle_event.territory.takeover_time }}</span>
        <h2 class="mt-2"><strong>{{ battle_event.territory }}</strong></h2>
        <h5 class="mt-1"><strong>{{ battle_event.alliance }}</strong></h5>
        [{{ battle_event.type }}]
        {% if battle_event.notes %}
        <div class="day p-2 bd-highlight">
            <p class="bd-text-purple-bright">{{ battle_event.notes }}</p>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}
